// colors
// $primary : #FE5F1E;
// $primary-hover: #b23301;
// $secondary: #F8F8F8;
// $pure: #fff;
// $dark: #232323;
// $gray: #ccc;


$primary : #eb4d0f;
$primary-hover: #3f06a8;
$secondary: hsl(0, 0%, 4%);
$pure: rgb(255, 255, 255);
$dark: #ddec06;
$gray: #ccc;

// Transistion
$smooth: all .3s ease-in-out;